.Creater__input {
    margin-left: 60px;
    margin-right: 24px;
    width: 351px;
    height: 52px;
    border-radius: 16px;
    border: 1px solid #D9D9D9;
    text-indent: 16px;
    outline: none;
    color:#0C0C0C;
}
.Creater__input::-moz-placeholder { color: #D9D9D9; }
.Creater__input::-webkit-input-placeholder { color: #D9D9D9; }

input:focus {
    border-color:#3922C5;
}


.Creater{
    
    @media (max-width: 375px) {
        h3 {
            text-align: left;
            width: 100%;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Creater__input {
            width: 295px;
            margin: 0 auto 15px;
            @media (max-width: 375px) {
                margin: 0 auto 15px;
            }
        }

        .button {
            width: 295px;
            font-size: 14px;
            // margin: 0 auto 15px;
        }

    }

    .characteristic__header {
        margin-bottom: 19px;
        @media (max-width: 375px) {
            margin-bottom: 13px;
        }
    }
}
