.Content {
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    width: 100%;
    overflow: hidden;

    @media (max-width: 375px) {
        border-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

