.collapse-wrapper {
    display: none;
    
    @media (max-width: 946px) {
        // margin-top: 40px;
        margin-bottom: 50px;
        max-width: 845px;
        width: 100%;
        height: auto;
        // flex-wrap: wrap; 
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
}
