.button-tab {
    color: #3922C5;
    background-color: #fff;
    padding: 20px 24px;
    min-width: 92px;
    min-height: 52px;
    text-align: center;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    transition: 0.3s transform;
    border: none;
    cursor: pointer;
}