.Item {
    display: block;
    width: 845px;
    height: 919px;

    @media (max-width: 946px) {
        display: none;
        // max-width: 335px;
        // width: 100%;
        // height: auto;
        // flex-wrap: wrap; 
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: column;
    }
    
}
